<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Download Youtube videos in its highest possible quality">
    <meta name="author" content="Arashi">
    <title>YTubeSaver</title>

    <link rel="canonical" href="https://getbootstrap.com/examples/cover/">

    

    <!-- Bootstrap core CSS -->
<link href="{{ url_for('static', filename = '/css/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename = '/cover.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename = '/Photos/Logo.png') }}" type="image/x-icon">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6227725622591423"
     crossorigin="anonymous"></script>
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">YTubeSaver</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/terms">Terms and Conditions</a>
      </nav>
    </div>
  </header>

  <main class="px-3">

    <h2><strong>Terms and Conditions</strong></h2>

    <p>Welcome to YTubeSaver!</p>

    <p>These terms and conditions outline the rules and regulations for the use of YTubeSaver's Website</p>

    <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use YTubeSaver if you do not agree to take all of the terms and conditions stated on this page.</p>

    <h3><strong>License</strong></h3>

    <p>Unless otherwise stated, YTubeSaver and/or its licensors own the intellectual property rights for all material on YTubeSaver. All intellectual property rights are reserved. You may access this from YTubeSaver for your own personal use subjected to restrictions set in these terms and conditions.</p>

    <p>You must not:</p>
    <ul>
        <li>Republish material from YTubeSaver</li>
        <li>Sell, rent or sub-license material from YTubeSaver</li>
        <li>Reproduce, duplicate or copy material from YTubeSaver</li>
        <li>Redistribute content from YTubeSaver</li>
    </ul>

    </main>

  <footer class="mt-auto text-white-50">
    <p>Copyright &copy; 2023 YTubeSaver by Arashi</p>
</div>


    
  </body>
</html>
